<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--软件相关-->
    <add key ="IssuedDate" value="2015年08月01日"/>
    <add key ="Developer" value=""/>
    <add key ="Company" value="中国邮政集团公司上海研究院"/>
    
    <!--Modbus Client配置 IP value 对应PLC IP 地址，Port 默认为502 -->
    <add key="PLCIP" value="192.168.1.23"/>
    <add key="PLCPort" value="502"/>
    <add key="SocketTimeOut" value="1000"/>
    <!--发送数据给PLC的起始地址，即PLC接收起始地址（60H）-->
    <add key="StartingAddress" value="96"/>
    <add key="RegisterNumber" value="3"/>
    <add key="DataLength" value="6"/>
    
    <!--Modbus Server配置-->
    <add key="ReceiveRegisterNumber" value="4"/>
    <add key="ListenIP" value="192.168.1.130"/>
    <add key="ListenPort" value="502"/>
    <!--从PLC接收数据的起始地址，即PLC发送起始地址（50H）-->
    <add key="ReceiveStartingAddress" value="80"/>

    <!--OBR Client 配置IP value对应OBR IP地址-->
    <add key="OBRIP" value="127.0.0.1"/>
    <add key="OBRPort" value="2000"/>

    <!--OBR图片存储目录信息-->
    <add key="PicDirectory" value="d:\MailPic\"/>
    <add key="PicDirectoryBackup" value="d:\BackupMailPic\"/>

    <!--Log 信息-->
    <add key="LogDirectory" value="d:\MailLog"/>
    <add key="LogFileName" value="Log.txt"/>

    <!--Database 信息-->
    <add key="DBAddress" value="127.0.0.1"/>
    <add key="DBPort" value="3306"/>
    <add key="DBConnStr" value="Server=192.168.1.229;Port=3306;Database=mail_info;Uid=root;Pwd=root;CharSet=utf8;Allow Zero Datetime=true;"/>
    
  </appSettings>
</configuration>